@import '../../../assets/styles/theme.scss';
@import '../../../assets/styles/functions.scss';

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.welcome-container {
  text-align: justify;
  padding: 1.5rem 3rem;

  .welcome-txt {
    text-align: center;
  }

  .good-luck-txt {
    color: map-get($map: $orange-atom-palette, $key: A700);
    font-weight: bold;
  }
}
